<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>FeedBack Cargar Testimonio</title>
</head>

<body>
    <h1 class="masthead-heading">El nuevo testimonio se ha creado correctamente.</h1>
    <p>#<%= id %> - <%= nombre %> <%= linkedin %> <%= mensaje %></p>
</body>

</html>